*{
    box-sizing: border-box;
    margin: 0;
}

html{
    font-size: 20px;
}

:root{
    --color-claro: rgb(191, 232, 232);
    --color-oscuro:  rgb(210, 187, 37);
}

body{
    background-color: var(--color-claro);
}

header{
    background-color: rgba(192, 160, 72, 0.808);
    width: 100%;
    height: auto;
    margin-top: 1.2rem;
    
}

.caja-titulo{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

h1{
    font-family: 'Domine', serif;
    font-size: 2rem;
    padding: 1rem 4rem;
    width: 40%;
}

.autor{
    font-size: 1.2rem;
    padding: 1rem;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(imgs/fondo-removebg-preview.png);
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.5;
    z-index: -1;
  }


textarea{
    all: unset;
    background-color: aqua;
    padding: 1rem;
    background-image: url(imgs/fondo-removebg-preview.png);
    background-size: contain;
}

.parrafo-a-copiar{
    width: 100px;
    height: 150px;
    background-color: #fff;
}