*{
    box-sizing: border-box;
    margin: 0;
}

html{
    font-size: 20px;
}


:root{
    --color-claro: #66b9b7;
    --color-oscuro:  rgb(210, 187, 37);
    --color-negro: black;
    --color-turquesa: #0085ba;
    --color-tangerine: #e37222bb;
    --color-teal: #07889b;
}


body{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.2rem;
    background-color: var(--color-claro);
    width: 100%;
    background-image: url(imgs/fondo-removebg-preview.png);
    background-attachment: fixed;
    background-size: cover;
    opacity: 1;
}

header{
    background-color: rgba(210, 170, 37, 0.685);
    background-image:linear-gradient(to right,  rgb(210, 135, 37),  rgba(210, 170, 37, 0.4));    
    height: 5rem;
    margin-top: .6rem;   
}

.caja-titulo{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

h1{
    font-family: 'Domine', serif;
    font-size: 2rem;
    padding: 1rem 2rem;    
}

h1 span{
    color:#0085ba;
    font-style: italic;
}

.autor{
    font-size: 1.2rem;
    padding: 1rem;
    align-self: end;
    text-align: right;
}

main{    
    width: 80%;
    margin: 0 auto; 
    font-family: 'Montserrat', sans-serif;   
}

.contenedor{
    display: grid;
    grid-template-columns: 2fr 1fr;   
   }

form, .encriptado{
    background-color: var(--color-teal);   
    padding: 1rem ;    
}

.campos-de-entrada, .campos-de-salida{
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
   
    background-color:whitesmoke;
    height: 70vh;
    margin: 1rem 2rem 0;
    border-radius: 1rem;
    padding: .5rem;
}

.texto-usuario, .parrafo-a-copiar{
    all: unset;
    background-color: whitesmoke;   
    padding: .3rem; 
    color: var(--color-tangerine);
    font-weight: bold;
}

.texto-usuario::placeholder, .parrafo-a-copiar::placeholder{
    color: var(--color-tangerine);
    font-weight: bold;
}

.advertencia{
    font-size: .6rem;
    margin-bottom: .5rem;
}

.botones{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
   
}

.boton-entrada, .resultado-copiar{
    border: none;
    border-radius: .5rem;   
    background-color: var(--color-tangerine);
    font-size: .8rem;
    padding: 0 1.5rem;
    width: 8rem;
    height:1.4rem
}

.parrafo-a-copiar{
    background-color: whitesmoke;
}