*{
    box-sizing: border-box;
    margin: 0;
}

html{
    font-size: 20px;
}


:root{
    --color-claro: #8ee4e3;
    --color-oscuro:  rgb(210, 187, 37);
    --color-negro: black;
    --color-turquesa: #0085ba;
    --color-tangerine: #e37222bb;
    --color-teal: #07889b;
}


body{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.2rem;
    background-color: var(--color-claro);
    width: 100%;
    background-image: url(imgs/fondo-removebg-preview.png);
    background-attachment: fixed;
    background-size: cover;
    opacity: 1;
}

header{
    background-color: rgba(210, 170, 37, 0.685);
    background-image:linear-gradient(to right,  rgb(210, 135, 37),  rgba(210, 170, 37, 0.4));    
    height: auto;
    margin-top: .6rem;   
}

.caja-titulo{
    width: 70%;
    margin: 0 auto;
  
}

h1 span, h1 p {
    display: inline-block;
    text-align: left;
}

h1{
    font-family: 'Domine', serif;
    font-size: 2rem;
    padding: 1rem 2rem;    
}

h1 span{
    color:#0085ba;
    font-style: italic;
}

.invertido {
    transform: scale(-1, -1);
  }

main{    
    width: 70%;
    margin: 0 auto; 
    font-family: 'Montserrat', sans-serif;   
}

.contenedor{
    display: grid;
    grid-template-columns: 2fr 1fr;   
    border-radius: 1rem;
    background-image: radial-gradient(circle at 20% 80%,rgba(142, 228, 227, 0.768),rgba(142, 228, 227, 1));      
}

form, .encriptado{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 1rem ; 
    border-radius: 1rem;
    position:relative
}

.encriptado{
    background-color:var(--color-claro);
   
}

.campos-de-entrada, .campos-de-salida {
    display: flex;   
    flex-direction: column;
    justify-content: space-between;      
    height: 70vh;
    margin: 1rem 2rem 0;
    border-radius: 1rem;
    padding: .5rem;
}

.campos-de-salida {
    background-color:whitesmoke;
}

.imagen-y-textos {
    display: flex;
    flex-wrap: wrap;
}

.imagen-y-textos img{
    position: absolute;
    top: 1rem;
    left:.5rem;
    max-width: 80%;
    height: auto;
    overflow: hidden;
}

.textarea-y-boton{
    display: none;
}
.texto-usuario, .parrafo-a-copiar{
    all: unset;    
    padding: .3rem; 
    color: var(--color-tangerine);
    font-weight: bold;
}

.texto-usuario::placeholder, .parrafo-a-copiar::placeholder{
    color: var(--color-tangerine);
    font-weight: bold;
}

.advertencia{
    font-size: .6rem;
    margin-bottom: .5rem;
}

.principal{
    font-size: 1.5rem;
    text-align: center;
}

.botones{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: end;
   
}

.boton-entrada, .resultado-copiar{
    border: none;
    border-radius: .5rem;   
    background-color: var(--color-tangerine);
    font-size: .8rem;
    padding: 0.3rem 1.5rem;
    width: 8rem;
    height:1.4rem;
    transition: 600ms;
    cursor: pointer;
}

.boton-entrada:hover, .resultado-copiar:hover{
    filter: brightness(1.2);
    transform:scale(1.2);
}

footer{
    display: flex;
    justify-content: center;
    }

footer p{
   color: rgb(227, 114, 34);;
   font-size: .8rem;
   font-weight: bold;
}

@media (max-width: 768px){
    html{
        font-size: 18px;
    }
    .caja-titulo{
        grid-template-columns: 1fr;
    }
    .contenedor{
        display: grid;
        grid-template-columns: 1fr;  
        justify-content:center; 
       }
    form{
        max-height:40rem;
    }
    .encriptado{
        max-width: 80%;
        margin:0 auto;
    }
    .texto-usuario{
        max-height: 10rem;
    }
    .boton-entrada, .resultado-copiar{  
        font-size: .7rem;     
        width: 5rem;
        padding: 0.3rem .5rem;
    }    
    .imagen-y-textos img{
        max-width:50%;
        height: auto;
        overflow: hidden;
    }
}